<header class="header">
	<div class="container">
		<h1 class="logo">
			<a title="{{ site.author }}" href="{{ site.baseurl | append: "/" }}">{{ site.author }}</a>
		</h1>
		<div class="navigation">
			<a title="{{ site.about }}" href="{{ site.baseurl | append: "/about" }}">{{ site.about }}</a>
			<a title="{{ site.computing }}" href="{{ site.baseurl | append: "/computing" }}">{{ site.computing }}</a>
			<a title="{{ site.illustrations }}" href="{{ site.baseurl | append: "/illustrations" }}">{{ site.illustrations }}</a>
		</div>
	</div>
</header>
